<!DOCTYPE html>
<html scroll-behavior: smooth lang="en">
  <head>
    <title>About Me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
	<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
  </head>
  <body>
    <div id="outerBody" style="width:1347px;height:470px;margin:0 Auto">
      <div id="header" style="background-color:blue">
        <a href= / button type="button" class="btn btn-secondary" style="background-color:blue">Home</a>
        <a href= aboutMe button type="button" class="btn btn-secondary" style="background-color:blue">About Me</a>
        <a href= schedule button type="button" class="btn btn-secondary" style="background-color:blue">Schedule</a>
        <a href= help button type="button" class="btn btn-secondary" style="background-color:blue">Help</a>
	  </div>

	  <div id="content" style="background-color:turquoise;text-align:center;margin:0 Auto">
	    <div id="vitals" style="background-color:#9580d6;height:150px">
	      <p><b>Full Name: Drasseta Aliyyu Darmansyah</b></p>
	      <p><b>Gender: Male</b></p>
	      <p><b>Birthday: June 1st, 1999</b></p>
	      <p><b>Age: 19</b></p>
	    </div>

	    <div id="others" style="background-color:#80abd6;height:200px">
	      <p><b>Address: Villa Pertiwi, S1 no. 2, Depok, West Java, Indonesia</b></p>
	      <p><b>Religion: Islam</b></p>
	      <p><b>Language: Indonesian and English</b></p>
	      <p><b>Occupation: College Student</b></p>
	      <p><b>University: Universitas Indonesia</b></p>
	    </div>

	    <div id="contacts" style="background-color:turquoise;height:110px">
	      <p><b>Phone: 081291565799</b></p>
	      <p><b>LINE: drassetad</b></p>
	      <p><b>E-mail: drassetad@gmail.com</b></p>
	    </div>
	  </div>
    </div>
  </body>
</html>