<!DOCTYPE html>
<html scroll-behavior: smooth lang="en">
  <head>
    <title>Help</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
	<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
  </head>
  <body>
    <div id="outerBody" style="width:1347px;height:350px;background-color:turquoise;margin:0 Auto">
      <div id="header" style="background-color:blue">
        <a href= / button type="button" class="btn btn-secondary" style="background-color:blue">Home</a>
        <a href= aboutMe button type="button" class="btn btn-secondary" style="background-color:blue">About Me</a>
        <a href= schedule button type="button" class="btn btn-secondary" style="background-color:blue">Schedule</a>
        <a href= help button type="button" class="btn btn-secondary" style="background-color:blue">Help</a>
	  </div>

	  <div id="content" style="background-color:turquoise;text-align:center;margin:0 Auto">
	    <p><font size="40">IF YOU CANNOT REACH ME, PLEASE CONTACT <b>sethjackson601@gmail.com</b> OR CALL <b>(021)8755173</b></font></p>
	    <p><font size="40">Thank you in advance for your patience, and please excuse the inconvenience</font></p>
	  </div>
    </div>
  </body>
</html>