<!DOCTYPE html>
<html scroll-behavior: smooth lang="en">
  <head>
    <title>Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
	<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
  </head>
  <body>
    <div id="outerBody" style="width:1347px;height:585px;background-color:turquoise;margin:0 Auto">
      <div id="header" style="background-color:blue">
        <a href= / button type="button" class="btn btn-secondary" style="background-color:blue">Home</a>
        <a href= aboutMe button type="button" class="btn btn-secondary" style="background-color:blue">About Me</a>
		<a href= schedule button type="button" class="btn btn-secondary" style="background-color:blue">Schedule</a>
        <a href= help button type="button" class="btn btn-secondary" style="background-color:blue">Help</a>
	  </div>
	  
	  <div id="content" style="background-color:turquoise;text-align:center;margin:0 Auto">
	    <form method="post">
			<label for="date">Enter Date: </label>
			<input id="date" type="date" name="date" value="{{ current_date }}">
			{% csrf_token %}
			{{ form }}
			<br>
			
			<label for="time">Enter Time: </label>
			<input id="time" type="time" name="time" value="{{ current_time }}">
			{% csrf_token %}
			{{ form }}
			<br>
		
			<label for="name">Enter Activity: </label>
			<input id="name" type="text" name="name" value="{{ current_name }}">
			{% csrf_token %}
			{{ form }}
			<br>
			
			<label for="location">Enter Location: </label>
			<input id="location" type="text" name="location" value="{{ current_location }}" max="500">
			{% csrf_token %}
			{{ form }}
			<br>
			
			<label for="category">Enter Category: </label>
			<input id="category" type="text" name="category" value="{{ current_category }}">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Submit">
		</form>
	  </div>
	</div>
 </body>
</html>